body {
  background-color: #d1d1d1;
  color: #333;
  background-image: url(pic/concrete-texture.png);
}

.container {
  width: 900px;
  margin: auto;
  background-color: #ffffff;
}

.head {
  border-bottom: solid rgb(255, 196, 0) 7px;
}

.head img {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.head .data {
  margin-left: 200px;
  padding-top: 1px;
  padding-bottom: 20px;
}

.fakul {
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: 35px;
}

.judul {
  padding: 0px 20px;
  text-align: center;
}

.judul p {
  font-weight: bold;
  margin-top: -15px;
}

.main img {
  display: block;
  background-color: rgb(255, 196, 0);
  border: solid rgb(0, 0, 0) 8px;
  padding: 20px;
}

.smile img {
  margin: auto;
  margin-left: 186px;
}

.love img {
  margin: auto;
}

.hehe img {
  margin: auto;
  margin-right: 186px;
  margin-bottom: 35px;
}

.foot {
  background-color: rgb(0, 0, 0);
  height: 50px;
}

.foot .copy {
  padding-top: 15px;
  color: #b9b9b9;
  text-align: center;
}
